<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GENERAL_DEFAULTS_INSTALLED</key>
	<false/>
	<key>STOCK_EXCHANGE_DEFAULTS_INSTALLED</key>
	<false/>
	<key>STOCK_SECTOR_DEFAULTS_INSTALLED</key>
	<false/>
	<key>NOTIFICATION_DEFAULTS_INSTALLED</key>
	<false/>
	<key>TUTORIAL_SHOWN</key>
	<false/>
	<key>FEEDBACK_GIVEN</key>
	<false/>
	<key>TAP_CARD_TIP_SHOWN</key>
	<false/>
	<key>SHARE_CHART_TIP_SHOWN</key>
	<false/>
	<key>CLOUD_TIP_SHOWN</key>
	<false/>
	<key>SWIPE_ADD_TO_WATCHLIST</key>
	<false/>
</dict>
</plist>
