<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASIC MATERIALS</key>
	<true/>
	<key>CONGLOMERATES</key>
	<true/>
	<key>CONSUMER GOODS</key>
	<true/>
	<key>FINANCIAL</key>
	<true/>
	<key>HEALTHCARE</key>
	<true/>
	<key>INDUSTRIAL GOODS</key>
	<true/>
	<key>SERVICES</key>
	<true/>
	<key>TECHNOLOGY</key>
	<true/>
	<key>UTILITIES</key>
	<true/>
</dict>
</plist>
